@import url("font-awesome.css");

@font-face {
    font-family: 'geometria_lightlight';
    src: url('../fonts/geometrialight/Geometria-Light-webfont.eot');
    src: url('../fonts/geometrialight/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometrialight/Geometria-Light-webfont.woff') format('woff'),
         url('../fonts/geometrialight/Geometria-Light-webfont.ttf') format('truetype'),
         url('../fonts/geometrialight/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/geometrialight/bebas-webfont.eot');
    src: url('../fonts/geometrialight/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometrialight/bebas-webfont.woff') format('woff'),
         url('../fonts/geometrialight/bebas-webfont.ttf') format('truetype'),
         url('../fonts/geometrialight/bebas-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
}

html, body {
	margin: 0;
	width: 100%;
    height:100%;
	color: white;
	overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
    font-family: 'geometria_lightlight' !important;
    background: #003A70;
    font-variant: small-caps !important;
    letter-spacing: 1.5px !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

footer {
    position: absolute;
    text-align: center;
    margin-bottom: 7px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navpush header {
	margin-top: 35px;
	text-align: center;
}

.navpush img {
	width: 75%;
}

.navpush ul li {
	width: 95%;
	margin: 0 auto;
}

.navpush footer li a {
	background: rgba(0, 0, 0, 0);
	font-size: 115%;
	text-decoration: underline;
	float: right;
}

.background {
	position: relative;
}

.flex {
	height: 100vh;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	flex-direction: column;
	-webkit-box-direction: column;
	-moz-box-direction: column; 
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, .5);
}

.content {
	height: auto !important;
	height: 100%;
    margin: auto;
	text-align: center;
}

.content img {
	margin: auto;
	max-width: 25%;
	height: auto;
	animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

.content h1 {
    font-family: 'geometria_lightlight' !important;
	font-size: 3.5em;
	margin-top: 15px;
	margin-bottom: 10px;
	animation-delay: 1s;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.content h2 {
    line-height: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
    animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.content button {
	width: 135px;
	margin: 2%;
	margin-top: .1%;
	background: rgba(0, 0, 0, 0);
	border-bottom: 2px solid whitesmoke;
    border-top: none;
    border-left: none;
    border-right: none;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	color: whitesmoke;
	font-family:'geometria_lightlight' !important;
	font-size: 120%;
	font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    animation-delay: 1.65s;
    -moz-animation-delay: 1.65s;
    -webkit-animation-delay: 1.65s;
}

.content a {
    width: 135px;
    display: block;
    margin: 0 auto;
	margin-top: .1%;
	background: rgba(0, 0, 0, 0);
	border-bottom: 2px solid whitesmoke;
    border-top: none;
    border-left: none;
    border-right: none;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	color: whitesmoke;
	font-family:'geometria_lightlight' !important;
	font-size: 120%;
	font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    animation-delay: 1.65s;
    -moz-animation-delay: 1.65s;
    -webkit-animation-delay: 1.65s;
}

.info img {
    width: 25%;
    margin-top: 25px;
    margin-bottom: -15px;
}

.info h1 {
	border-bottom: 2px solid whitesmoke;
}

.info p {
	line-height: 1.75em;
}

.info ul {
    padding-left: 0;
    text-align: center;
    margin-bottom: .5em;
    /*font-style: italic;*/
}

.info li {
    list-style: none;
    line-height: 1.35em;
}

.info .infotext {
	text-align: justify;
    font-size: large;
}


.social {
	margin-top: 5px;
	margin-bottom: 2px;
}

.social ul {
	padding-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.social li {
	display: inline;
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.social li img {
	margin-left: 1%;
	margin-right: 1%;
	image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}